.category-item {
    width: 349px;
    height: 349px;
    border-radius: 8px;
    overflow: hidden;
    margin: 0 10px;
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.category-item img {
    width: 100%;
    height: 244px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.smalltitle {
    text-align: center;
    font-weight: bold;
    padding-top: 19px;
    padding-left: 16px;
    padding-bottom: 15px;
    font-size: 16px;
    color: #1F1F1F;
}

.category-item .info {
    margin-left: 16px;
    display: flex;
    margin-top: 10px;
}

.category-item .info-left,
.category-item .info-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.category-item .info-right {
    margin-left: 120px;
}

.category-item .subtitle {
    font-weight: 300;
    font-size: 14px;
    opacity: 0.6;
    text-align: left;
}

.category-item .price {
    font-weight: 300;
    font-size: 14px;
    color: #1F1F1F;
    text-align: left;
}