.category-item {
    width: 349px;
    height: 349px;
    position: relative;
    border-radius: 8px;
    /* 添加圆角 */
    overflow: hidden;
    /* 防止内容溢出 */
}

.category-item img {
    width: 100%;
    height: 244px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    /* 圆角只应用于顶部 */
}

.category-item .title {
    text-align: center;
    font-weight: bold;
    margin-top: 19px;
    margin-left: 16px;
    margin-bottom: 15px;
    /* 仅设置上下间距，左右间距为0 */
    padding: 0;
    /* 清除内边距 */
    border: none;
    font-size: 16px;
    /* 确保没有边框 */
}

.category-item .info {
    margin-left: 16px;
    /* 保持左侧内边距 */
    display: flex;
    /* 使用flex布局 */
    
    /* 左右分布 */
}

.category-item .info-left,
.category-item .info-right {
    display: flex;
    flex-direction: column;
    /* 垂直排列 */
    align-items: flex-start;
    /* 左对齐 */
}

.category-item .info-right {
    margin-left: 120px;
}

.category-item .subtitle {
    font-weight: 300;
    font-size: 14px;
    opacity: 0.6;
    text-align: left;
    /* 确保文本左对齐 */
}

.category-item .price {
    font-weight: 300;
    font-size: 14px;
    color: #1F1F1F;
    text-align: left;
    /* 确保文本左对齐 */
}