.carousel-wrapper {

    justify-content: center;
    align-items: center;
    width: calc(100% - 80px);
    margin: 0;
    overflow: hidden;
}


.carousel-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}


.slick-slide {
    margin: 0 15px;
}


.slick-list {
    margin: 0 5px;
    padding: 0;
    overflow: hidden;
}

.slick-track {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .carousel-image {
        height: auto;
    }
}