.mint-container {
    margin-top: 127px;
    cursor: default;
}

.mint-top {
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: flex-start;
    margin-bottom: 36px;
}

.mint-back {
    margin-bottom: 19px;
    cursor: pointer;
}

.mint-title {
    font-weight: bold;
    font-size: 28px;
    color: #1A1A1A;
    margin-bottom: 24px;
}

.mint-description {
    font-weight: 400;
    font-size: 18px;
    color: #1A1A1A;
}

.mint-bottom {
    display: flex;
    flex-direction: row;
}

.mint-left {
    height: 600px;
    width: 600px;
    border-radius: 8px;
    border: 1px dashed #E6E6E6;
    margin-right: 50px;
}

.mint-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.create-mint {
    width: 607px;
    height: 99px;
    background: #FAFAFA;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 41px;
}

.plus-icon {
    cursor: pointer;
    margin-left: 37px;
}

.mint-text {
    font-weight: 300;
    font-size: 16px;
    margin-left: 30px;
}

.mint-sub-title {
    margin-bottom: 18px;
    font-weight: bold;
    font-size: 16px;
    display: block;
}

.mint-input {
    width: 607px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #E6E6E6;
    font-size: 18px;
    padding-left: 15px;
    display: block;
    margin-bottom: 18px;
}

.mint-input-description {
    height: 100px;
    padding-left: 15px;
    padding-top: 5px;
}

.mint-input::placeholder {
    font-weight: 300;
    font-size: 16px;
    color: #999999;
}

.mint-trait {
    width: 607px;
    height: 48px;
    font-size: 18px;
    display: block;
    margin-bottom: 18px;
}