.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, #151820, #FFFFFF);
  display: flex;
  flex-direction: column;
  z-index: 1;
  height: 480px;
  padding-top: 10px;
}

.top-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding-left: 40px;
  margin-top: 10px;
}

.top-carousel {
  display: flex;
  justify-content: center; /* 确保轮播图居中 */
  margin-top: 15px; /* 调整间距，避免与按钮重叠 */
}